@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Images/myke-simon-atsUqIm3wxo-unsplash.jpg");
  background-position: center bottom -24rem;
  background-size: cover;
  height: 100vh;
}

.div-master-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff3f5;
  border-radius: 1rem;
  opacity: 0;
  transform: translateY(20px);
  overflow: hidden;
  transition: height 0.4s ease, max-height 0.4s ease, padding 0.4s ease;
  animation: fadeInUp 0.9s ease forwards;
}

.div-master-login.login-mode {
  max-height: 45rem;
  padding: 2rem;
}

.div-master-login.register-mode {
  max-height: 50rem;
  padding: 4rem;
}

.separacao-login {
  width: 1px;
  height: 35rem;
  background-color: black;
  border: none;
  overflow: hidden;
  transition: height 0.7s ease, max-height 0.4s ease, padding 0.4s ease;
}

.separacao-login.login-mode {
  width: 1px;
  height: 40rem;
}

.separacao-login.register-mode {
  width: 1px;
  height: 45rem;
  background-color: black;
  border: none;
}

.div-title-login {
  display: flex;
  flex-direction: column;
  padding: 8rem;
  align-items: center;
  justify-content: center;
  max-width: 70rem;
  gap: 6rem;
  & > h1 {
    color: #eb5858;
  }
  & > p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 8rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.3s ease forwards;
  & > h2 {
    font-size: 2.5rem;
    color: #e63535d0;
  }
}

.div-login {
  & > form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 35rem;
  }

  & > form input {
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 2rem;
    outline: none;
    background-color: #222;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
  }

  & > form button {
    background-color: #e63535d0;
    outline: none;
    border: none;
    color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  & > form button:hover {
    background-color: #e7982fce;
  }
}

.div-account {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
  & > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
  }

  & > a:hover {
    color: rgb(34, 58, 163);
  }
}
